# Binaries #
*.class

# Package Files #
*.jar
*.war

# Eclipse ignores #
.project
.classpath
.settings

# Maven ignores #
target
pom.xml.tag
pom.xml.releaseBacjup
pom.xml.versionBackup
pom.xml.net
release.properies
